body * {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightblue;
}

.picture:hover {
    margin: 1.5%;
    border-style: solid;
    border-color: darkcyan;
    border-width: thick;
    transition-duration: 0.3s;
}

.picture {
    width: 17%;
    height: 25%;
    /*border-style: solid;
    border-color: red;
    border-width: thin;*/
    border: none;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 1%;
    transition-duration: 0.3s;
}

.picture img {
    max-width: 100%;
    max-height: 100%;
}

.input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    font-size: 300%;
    text-indent: 40px;
    border-radius: 40px;
    border-style: groove;
}

.content-space {
    margin-top: 5%;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 10%;
    background-color: ghostwhite;
    border-radius: 10px;
}

button {
    width: 50%;
    height: 3%;
    border: none;
    background-color: lightseagreen;
    color: ghostwhite;
    font-size: 24px;
    transition-duration: 0.3s;
    cursor: pointer;
}

button:hover{
    background-color: darkcyan;
}

button:disabled{
    border-bottom: solid 8px darkturquoise;
}

.preview {
    max-width: 70%;
    max-height: 70%;
}

.tac {
    text-align: center;
}

textarea {
    text-indent: 4px;
    margin: 5px;
    border-style: groove;
    border-radius: 10px;
    resize: none;
    width: 100%;
}

label {
    vertical-align: top;
    text-align: right;
}

form {
    text-align: left;
}

.lab-field {
    text-align: right;
    vertical-align: top;
    width: 25%;
}

.val-field {
    width: 75%;
}

.cloud {
    text-align: center;
    margin-bottom: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
}

td.cloud-tag {
    display: inline-block;
    background-color: lightblue;
    border-radius: 10px;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 10px;
    padding-right: 10px;
}

td.cloud-tag:hover {
    background-color: lightseagreen;
}

i {
    font-size: 9pt;
}

a {
    text-decoration: none;
    color: black;
}

.popup-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
}

.popup-fg {
    padding: 2%;
    border-radius: 2%;
    text-align: center;
    position: absolute;
    left: 15%;
    right: 15%;
    top: 15%;
    bottom: 15%;
    margin: auto;
    background-color: ghostwhite;
}

a.cross-search {
    vertical-align: middle;
    font-size: 17pt;
    position: absolute;
    right: 16%;
    top: 32%;
}

.navbar {
    margin-bottom: 5%;
}
