body * {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightblue;
}

.picture {
    width: 17.7%;
    height: 25%;
    border-style: solid;
    border-color: red;
    border-width: thin;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 1%
}

.picture img {
    max-width: 100%;
    max-height: 100%;
}

.input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 5%;
    font-size: 300%;
    text-indent: 40px;
    border-radius: 40px;
    border-style: groove;
}

.content-space {
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 10%;
    background-color: ghostwhite;
    border-radius: 10px;
}

button {
    width: 50%;
    height: 3%;
    border: none;
    background-color: lightseagreen;
    color: ghostwhite;
    font-size: 24px;
    transition-duration: 0.3s;
}

button:hover{
    background-color: darkcyan;
}

button:disabled{
    border-bottom: solid 8px darkturquoise;
}

.preview {
    max-width: 70%;
    max-height: 70%;
}

.tac {
    text-align: center;
}

textarea {
    text-indent: 4px;
    margin: 5px;
    border-style: groove;
    border-radius: 10px;
    resize: none;
}

label {
    vertical-align: top;
    text-align: right;
}

form {
    text-align: left;
}

.lab-field {
    text-align: right;
    vertical-align: top;
}
